<div class="container d-flex justify-content-center align-items-center vh-100">
  <mat-card class="p-4 shadow" style="width: 400px">
    <div class="text-center">
      <img
        src="https://via.placeholder.com/150"
        alt="Profile"
        class="rounded-circle mb-3"
        width="150"
        height="150"
      />
      <h4 *ngIf="userData">{{ userData.firstName }} {{ userData.lastName }}</h4>
      <p *ngIf="userData">{{ userData.email }}</p>
    </div>

    <div class="text-center mt-4">
      <button mat-raised-button color="primary" routerLink="/login">
        Logout
      </button>
    </div>
  </mat-card>
</div>
